body{
    margin: 0;
    font-family:"Inter" ,sans-sarif;
    background-color: #21222A;
    color:white;
}
.nav-list{
    list-style: none;
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
}
.nav-list-item{
    margin-left: 10px;
    font-size: 1.1rem;
}
.react-logo{
    width:55px;
}
.heading{
    height: 90px;
    
    padding:30px 25px;
}
.navigation{
    display:flex;
    align-items: center;
    gap: 12px;
    height: 100%;
}
.paragraph{
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight:700;
}
.main-section {
    padding: 60px 30px;
    background-image: url(./src/assets/react-logo-gray.jpg);
    background-repeat: no-repeat;
    background-position:right 70%;
}

.main-section > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
}
.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
}
.facts-list>li::marker{
    color:#61DAFB;
    font-size: 1.5rem;
}