/* body for react facts project
body{
    margin: 0;
    font-family:"Inter" ,sans-sarif;
    background-color: #21222A;
    color:white;
} */
 body{
    margin:0;
     
   
 }
.nav-list{
    list-style: none;
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
}
.nav-list-item{
    margin-left: 10px;
    font-size: 1.1rem;
}
.react-logo{
    width:55px;
}
.heading{
    height: 90px;
    
    padding:30px 25px;
}
.navigation{
    display:flex;
    align-items: center;
    gap: 12px;
    height: 100%;
}
.paragraph{
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight:700;
}
.main-section {
    padding: 60px 30px;
    background-image: url(./src/assets/react-logo-gray.jpg);
    background-repeat: no-repeat;
    background-position:right 70%;
}

.main-section > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
}
.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
}
.facts-list>li::marker{
    color:#61DAFB;
    font-size: 1.5rem;
}
.travel-header{
    background-color:#F55A5A;
    height: 55px;
    
}
.travel-header{
    display: flex;
    align-items: center;
    gap:7px;
    justify-content: center;
     color:white;
}
.travel-header>img{
    width:24px;
}
.travel-header> h1{
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "Inter";
    
}
.entry-article{
     margin: 45px 40px;
    display:flex;
    align-items: center;
    gap:20px;
}
.main-image{
   width: 125px;
    height: 168px;
    overflow: hidden; 
    border-radius: 5px;
    flex-shrink: 0;
}
.main-image>img{
   height: 100%;
    width: 100%;
    object-fit: cover;  
    flex-shrink: 0;
}
.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}